.dss-subtitle-renderer-line {
  font-family: "NanumSquareRoundOTF ExtraBold";
  font-size: clamp(20px, 6vmin, 85px) !important;
  text-shadow: 1px 1px 0px #505050, -1px -1px 0px #505050, 1px -1px 0px #505050, -1px 1px 0px #505050, 0px 0px 8px #000 !important;
  opacity: 0.95;
}
